pre.example, .header, .float-caption, hr {
  /* base00 ~ body text in light solarized theme */
  color: #657b83;
  border-color: #657b83; }

pre.example {
  /* base3 ~ background color in light solarized theme */
  background-color: #fdf6e3;
  padding: 0.5em; }

table.cartouche {
  border: 1px solid #948473;
  background-color: #FFE3C6;
  width: 100%;
}
table.cartouche td, table.cartouche th {
  border: 1px solid #948473;
  padding: 4px 4px;
}

/* newer texinfo generation styles */
div.example {
  /* base00 ~ body text in light solarized theme */
  color: #657b83;
  border-color: #657b83; }

pre.example-preformatted {
  /* base3 ~ background color in light solarized theme */
  background-color: #fdf6e3;
  padding: 0.5em; }
